body{
    background-color: #E9DCC9;
}
header{
    font-family: 'Spectral SC', serif;
    display:flex;
    flex-wrap: wrap;
}

header h1{
    font-family: 'Spectral SC', serif;
    width: 45%;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 25px;
    color:#4A0404;
}

header nav{
    width: 53%;
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
}

figure h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 105px;;
    color:#483C32;
}

figure{
    background-image: url(https://i.etsystatic.com/27463498/r/il/7689b8/3191301581/il_1588xN.3191301581_e0ou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100%;
}

.leftside{
    display:flex;
    flex-wrap: wrap;
    font-size: 60px;
    font-family: 'Spectral SC', serif;
    background-color: #E9DCC9;
    color: #483C32;
    margin-top: 40px;
    border-bottom: #483C32;
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;


}

.title{
    width: 20%;
    margin-right: 1%;
    margin-bottom: 10%;
}

.container{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p{
    white-space: pre-wrap;
    font-size: 50%;

}

.pjt1{
    color:#967969;
    font-size: 40px;
}

.pjtTitle {
    color: #967969;
    font-size: 40px;
    margin-left: 30%;
    margin-right: -30%;
  
}
a:link, a:visited {
    color: #967969;
    padding: 15px 25px;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #F9F6EE;
    border: 1px solid #F9F6EE;
    border-radius: 100px;
  }

img{
    width:100%;
}

.image{
    margin-left: 29%;
    margin-right: -28%;
}

.card{
    width: 40%;
    position: relative;
}

.card h3{
    font-family: 'Spectral SC', serif;
}

h2{
  width: 25%;
  margin-right: 1%;
  font-size: 50px;
  background-color: #E9DCC9;
  color: #967969;
}

h3{
    color:#6F4E37;
    font-size: 30px;
}

footer nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    width: 77%;
    color: #967969;
}

h4{
    font-size: 25px
}

h5{
    font-size: 25px;
}