header{
    font-family: 'Spectral SC', serif;
    display:flex;
    flex-wrap: wrap;
}

header h1{
    width: 50%;
    font-size: 75px;
    background-color: #d9cdb9;
    color: #CD5C5C;
}

header nav{
    width: 50%;
    background-color: #d9cdb9;
    color: #CD5C5C;
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 30px;
}

figure{
    background-image: url(https://cdn.pixabay.com/photo/2018/04/02/17/17/beach-3284446_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.leftside{
    display:flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: 'Spectral SC', serif;
    background-color: #d9cdb9;
    color: #CD5C5C;
}

.title{
    width: 20%;
    margin-right: 1%;
    margin-bottom: 10%;
}

.container{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p{
    white-space: pre-wrap;
    font-size: 50%;

}

.pjt1{
    color: white;
    font-size: 40px;
}

.pjtTitle {
    color: white;
    font-size: 40px;
    margin-left: 30%;
  
}
a:link, a:visited {
    color: white;
    padding: 15px 25px;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #CD5C5C;
  }

img{
    width:100%;
}

.image{
    margin-left: 30%;
}

.card{
    width: 40%;
    position: relative;
}

.card h3{
    font-size: 30px;
    font-family: 'Spectral SC', serif;
    color: white
}

h2{
  width: 25%;
  margin-right: 1%;
  font-size: 50px;
  background-color: #d9cdb9;
  color: #CD5C5C;
}

.footer{
    margin-bottom: 0%;
}
footer nav{
    width: 70%;
    background-color: #d9cdb9;
    color: #CD5C5C;
}
